@import '../_variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 0 32px;
  height: 80px;
  background-color: $primary-color;

  .logo-container,
  .profile-container {
    display: flex;
    align-items: center;

    .logo-title {
      font-family: $font-family-montserrat;
      font-style: normal;
      font-weight: $font-weight-bolt;
      font-size: $font-size;
      margin-left: 32px;
      color: #fff;
    }

    .logo,
    .avatar {
      margin-right: $spacing-small;
    }
  }

  .logo {
    width: $avatar-size;
    height: $avatar-size;
  }

  .avatar {
    width: $avatar-size;
    height: $avatar-size;
  }
}
