$primary-color: rgba(79, 39, 191, 1);
$avatar-size: 38px;
$icon-size: 32px;
$spacing-small: 10px;
$font-family-montserrat: Montserrat, sans-serif;
$font-weight-bolt: 700;
$font-weight-normal: 600;
$font-weight-lighter: 500;
$font-size: 20px;
$line-height: 24px;
$box-shadow: 0 0 5px rgba(2, 0, 96, 0.25);

